<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}} page</title>
    </head>

    <body>
        

        <p>some text over here</p>

        {{> footer}}
    </body>
</html> 